version: "3"
services:
  mysql:
    image: souhub/avzeus-mysql_dev:1.1
    ports:
      - "3306:3306"

  backend:
    image: souhub/avzeus-backend_dev:1.3
    depends_on:
      - mysql
    ports:
      - "8000:8000"

  ai:
    # image: souhub/avzeus-ai_dev:1.2
    image: souhub/avzeus-ai:1.2
    depends_on:
      - backend
    ports:
      - "5000:5000"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    tty: true
    depends_on:
      - mysql
      - backend
      - ai
    ports:
      - "8888:8080"
