version: "3"
services:
  mysql:
    image: avzeus-mysql_dev:1.3
    ports:
      - "3306:3306"

  backend:
    image: avzeus-backend_dev:1.3
    depends_on:
      - mysql
      - frontend
    ports:
      - "8000:8000"

  ai:
    image: avzeus-ai:1.0
    # tty: true
    depends_on:
      - backend
    ports:
      - "5000:5000"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    tty: true
    ports:
      - "8080:8080"
